In [1]:
import sys
sys.path.append('../')
import numpy as np
import pandas as pd

In [2]:
npzfile = np.load('../data/mjo_new_data.npz', allow_pickle=True)
df = pd.DataFrame() # create an Empty DataFrame object
for col in list(npzfile.files):
    df[col] = npzfile[col]
    if list(df.columns) == ['year','month','day']:
        df['date'] = pd.to_datetime(df[['year','month','day']])
df = df.drop(columns=['year','month','day'])
df.head()

        date      RMM1     RMM2  phase  amplitude
0 1979-01-01  0.142507  1.05047    6.0    1.06009
1 1979-01-02 -0.204200  1.37361    7.0    1.38870
2 1979-01-03 -0.158610  1.53943    7.0    1.54758
3 1979-01-04 -0.182450  1.45972    7.0    1.47108
4 1979-01-05 -0.320050  1.13680    7.0    1.18100